#box1 {
    /*If the value is content-box,
     width and height will only be applied to the content of the element.*/
    box-sizing: content-box;  
    width: 200px;
    height: 100px;
    padding: 30px;  
    border: 10px solid green;
  }
  
  #box2 {
    /*If the value is border-box, 
    width and height apply to all parts of the elements: content, padding and borders.*/
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    padding: 30px;  
    border: 10px solid green;
  }