a:link{color: green;}
a:visited{color: yellow;}
a:hover{color: blue;}
a:active{color: red;}

/*You can assign a different color to any link on the website, depending on its status:

:link         default color, before clicking on it.
:visited      after clicking the link.
:hover        when the cursor is over the link.
:active       when the cursor is clicking on the link.*/